{
  "plugins": [
      "transform-runtime",
      "transform-object-rest-spread",
      [
          "component",
          {
              "libraryName": "element-ui",
              "styleLibraryName": "~theme"
          }
      ]
  ],
  "presets": [["env"]],
  "env": {
      "test": {
          "presets": [["env", { "targets": { "node": "current" } }]]
      }
  }
}
